<section id="section-{{ section.id }}">
  {%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}

  <div class="FlexboxIeFix">
    <div class="ImageHero {% if section.settings.section_size != 'normal' %}ImageHero--{{ section.settings.section_size }}{% endif %}" {% if section.settings.image %}style="background: url({{ collection.image | img_url: '1x1' }})"{% endif %}>
      <div class="ImageHero__ImageWrapper">
        <div class="ImageHero__Image {% if section.settings.overlay_opacity > 0 %}ImageHero__ImageWrapper--hasOverlay{% endif %} Image--lazyLoad Image--zoomOut"
             data-optimumx="1.4"
             data-expand="-150"
             {% if collection.image %}data-bgset="{{ collection.image | img_url: mobile_size, crop: 'center' }} 750w, {{ collection.image | img_url: '1000x' }} 1000w, {{ collection.image | img_url: '1500x' }} 1500w"{% endif %}>
        </div>

        <noscript>
          <div class="ImageHero__Image" style="background-image: url({{ collection.image | img_url: '1000x' }})"></div>
        </noscript>

        
      </div>

      {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank -%}
        <div class="ImageHero__ContentOverlay">
          {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader header-image-with-text">
              {%- if section.settings.image-icon  != blank -%}
              <img class="icon-img-first" src="{{section.settings.image-icon | img_url:'master'}}">
                 {%- endif -%}
              
              {%- if section.settings.subheading != blank -%}
                <h3 class="SectionHeader__SubHeading Heading u-h6" style="font-size: 1em!important;
    margin-bottom: 30px;">{{ collection.title | escape }}</h3>
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <h2 class="SectionHeader__Heading Heading u-h1" style="font-size: 1.7em!important;">{{ collection.title | escape }}</h2>
              {%- endif -%}

              {%- if section.settings.content != blank -%}
                <div class="collection-banner">
                  {{ collection.description }}
                </div>
               {%- endif -%}
               {%- if section.settings.button_link != blank -%}
              <h2 class="heading-one"><a class="Button Button--primary" href="{{ section.settings.button_link }}" style="margin-top: 20%;
    padding: 17px 100px;">{{section.settings.heading}}</a></h2>

              {%- endif -%}
            </header>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

<style>
  
  .header-image-with-text>h2 {display:none;}
  
  @media screen and (max-width:1000px){
  .collection-banner{
   max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'helvetica'!important;
    font-size: 14px!important;
  }
    
  }
  @media (min-width:1001px) and (max-width:2700px) {
   .collection-banner{
  max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'helvetica'!important;
    font-size: 18px!important;
  }
  }
  

  .header-image-with-text>h3{
  font-size: 2em!important;
    letter-spacing: 1px!important;
  }
  .header-image-with-text>h2{
      font-size: 2.4em!important;
    letter-spacing: 1px!important;
    margin-top: -30px!important;
  }
  .ImageHero__ContentOverlay {
  flex-basis: auto!important;
  }
  
  #section-{{ section.id }},
  #section-{{ section.id }} .Heading {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .ImageHero__ImageWrapper--hasOverlay::before {
    {%- assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0 -%}
    background-color: {{ section.settings.overlay_color | color_modify: 'alpha', overlay_opacity }};
  }
</style>

{% schema %}
{
  "name": "Collection Banner",
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Section size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 800px .jpg recommended"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    },
   {
  			"type": "image_picker",
  			"label": "icon",
  			"id": "image-icon"
  		},
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
{
  			"type": "text",
  			"label": "Collection Title Btn",
  			"id": "heading"
  		},
{
      "type": "url",
      "id": "button_link",
      "label": "Collection Url"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "collection banner",
      "settings": {}
    }
  ]
}
{% endschema %}